@media (min-width<576px){
    .col-xsm-1 {width: 8.33%;}
    .col-xsm-2 {width: 16.66%;}
    .col-xsm-3 {width: 25%;}
    .col-xsm-4 {width: 33.33%;}
    .col-xsm-5 {width: 41.66%;}
    .col-xsm-6 {width: 50%;}
    .col-xsm-7 {width: 58.33%;}
    .col-xsm-8 {width: 66.66%;}
    .col-xsm-9 {width: 75%;}
    .col-xsm-10 {width: 83.33%;}
    .col-xsm-11 {width: 91.66%;}
    .col-xsm-12 {width: 100%;}       
}
@media (min-width:576px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}       
}
@media (min-width:768px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}       
}
@media (min-width:992px){
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}      
}
@media (min-width:1280px){
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}        
}
@media (max-width:1470px) {
    .cards::before,.cards::after{
        display: none;
    }
}
@media (max-width:1280px) {
    .menu-icon{
        display: block;
    }
    .menus,.banner::before,.header-div .head-btn{
        display:none;
    }
    .about-us-img-2{
        top: 40%;
        right:-5%;
    }
    .rev-box::before {
        bottom: 5%;
        right: 51.5%;
    }
    .rev-box::after {
        bottom: 5%;
        right: 43.5%;
    }
    
}
@media (max-width:992px) {
    .about-right{
        margin-top: 90px;
    }
    .about-img{
        justify-content: center;
    }  
    .about-us-img-2{
        top: 50%;
        right:20%;
    }
    .room-card{
        margin:30px 30px;
    }
    .amenities-img{
        margin:50px;
    }
    .luxary-left{
        padding:20px;
    }
    .luxary-left .subtitle{
        font-size: 18px;
    }
    .luxary-left .content{
        font-size: 16px;
    }
    .luxary-left .title{
        font-size: 25px;
    }
    .luxary-img{
        margin-top: 30px;
    }
    .rev-box::after {
        bottom: 5%;
        right: 41.5%;
    }
    #footer{
        padding: 40px;
    }
}

@media (max-width:768px)
{
    .title{
        font-size: 25px;
    }
    .subtitle{
        font-size: 18px;
    }
    .content{
        font-size: 16px;
    }
    .about-us-img-2{
        top: 50%;
        right:12%;
    }
    .room-card{
        margin:30px 30px;
    }
    .form-right{
        margin-top: 50px;
        margin-left: 50px;
    }
}
@media (max-width:576px) {
    .about-us-img-2{
        top: 50%;
        right:9%;
        width: 50%;
    }
    .about-us-img-1{
        width:60%;
    } 
    .room-card{
        margin:30px 30px;
    }
    .rev-box::after {
        bottom: 5%;
        right: 38.5%;
    }
    .rev-box::before {
        bottom: 5%;
        right: 53.5%;
    }
}